<%- include('head') %>
<div class="container">
  <h1>Add Film</h1>

  <form action="" method="post">
    <div>
      <label for="filmName">Film Name</label>
      <input type="text" id="filmName" name="filmName" />
    </div>
    <div>
      <label for="filmCertificate">Film Certificate</label>
      <input type="text" id="filmCertificate" name="filmCertificate" />
    </div>
    <div>
      <label for="filmDescription">Film Description</label>
      <input type="text" id="filmDescription" name="filmDescription" />
    </div>
    <div>
      <input type="submit" value="Add Film">
    </div>


  </form>
</div>
<%- include('footer'); %>
