.container {
  max-width: 600px;
  margin: auto;
}
form>div{
    margin-top:20px;
}
label{
    display:inline-block;
    width:150px;
}
input[type=text]{
    display: inline;
    width:400px;
}
input[type=submit]{
  width:auto;
  padding:10px;
}